@import "~bootstrap/scss/bootstrap";

.footer{
    background: #000;
    padding: 50px 0;
    width: 100%;
    color: white;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.items{
    flex: 0 0 25%;
    max-width: 25%;
}

