.navLink {
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding: 10px 25px;
  background-color: rgb(54, 54, 54);
}

.navLinkContainer {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.navLink:hover {
  background-color: rgb(94, 94, 94);
  color: white;
}
